body{
    margin: 0;
    text-align: center;
    background-color: rgb(212, 247, 132);
}



h1 {
    font-size: 70px;
    border: 5px solid black;
 margin-top: 100px;
 margin-bottom: 20px;
 margin-right: 550px;
 margin-left: 550px;
 padding: 50px;
 background-color: rgb(204, 84, 37);
 font-family: 'Sacramento', cursive;
}

p {
    font-size: 16px;
    border: 5px solid black;
 margin-top: 20px;
 margin-bottom: 20px;
 margin-right: 550px;
 margin-left: 550px;
 padding: 50px;
 background-color: teal;
 font-family: 'Roboto Mono', monospace;

}

p.two {
    font-size: 30px;
    border: 5px solid black;
 margin-top: 20px;
 margin-bottom: 100px;
 margin-right: 460px;
 margin-left: 460px;
 padding: 50px;
 background-color: greenyellow;
 font-family: 'Kiwi Maru', serif;
}